/infra/data
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

src/Gos/Bundle/NotificationBundle/Resources/public/js/notification/node_modules
/infra/logs
